{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block content %}
  <h2>Public topics of other users</h2>

  <ul>
    {% for topic in topics %}
      <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a>
        (From the user {{ topic.owner.username }})
      </li>
    {% empty %}
      <li>There are no available topics.</li>
    {% endfor %}
  </ul>

  <input type="hidden" name="next"
         value="{% url 'learning_logs:index' %}" />

{% endblock content %}
